<html lang="en">
  <body class="dark:bg-black-200 bg-gray-100">
    <div class="mx-auto max-w-3xl px-4 py-12">
      <main>
        <h1 class="dark:text-white font-bold text-3xl text-center">
          Not Found
        </h1>
        <p class="dark:text-white font-semibold text-xl text-center">
          Try searching again?
        </p>
      </main>
    </div>
  </body>
</html>
